---
// Layout import
import BaseLayout from '../layouts/BaseLayout.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="Mevrel Kilian | About" description="About page | Mevrel Kilian">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="...."
					alt="Me"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					text
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<ul class="timeline">
						<li>
							<div class="timeline-content">
								<h3>2019 - 2020</h3>
								<p><strong>Établissement:</strong> INGETIS</p>
								<p><strong>Alternance:</strong> Oui</p>
								<p><strong>Entreprise affiliée:</strong> Enedis</p>
								<p><strong>Diplôme obtenu:</strong> BTS SIO option SLAM</p>
							</div>
						</li>
						<li>
							<div class="timeline-content">
								<h3>2020 - 2021</h3>
								<p><strong>Établissement:</strong> INGETIS</p>
								<p><strong>Alternance:</strong> Oui</p>
								<p><strong>Entreprise affiliée:</strong> Enedis</p>
								<p><strong>Diplôme obtenu:</strong> BTS SIO : option SLAM</p>
							</div>
						</li>
						<li>
							<div class="timeline-content">
								<h3>2021 - 2022</h3>
								<p><strong>Établissement:</strong> INGETIS</p>
								<p><strong>Alternance:</strong> Oui</p>
								<p><strong>Entreprise affiliée:</strong> Colas ~ Mobility By Colas</p>
								<p><strong>Diplôme obtenu:</strong> Bachelor : Administrateur des systèmes d'information</p>
							</div>
						</li>
						<li>
							<div class="timeline-content">
								<h3>2022 - 2023</h3>
								<p><strong>Établissement:</strong> INGETIS</p>
								<p><strong>Alternance:</strong> Oui</p>
								<p><strong>Entreprise affiliée:</strong> Cogenio</p>
								<p><strong>Diplôme obtenu:</strong> Master : Expert en Système Informatique</p>
							</div>
						</li>
						<li>
							<div class="timeline-content">
								<h3>2023 - 2024</h3>
								<p><strong>Établissement:</strong> INGETIS</p>
								<p><strong>Alternance:</strong> Oui</p>
								<p><strong>Entreprise affiliée:</strong> Cogenio</p>
								<p><strong>Diplôme obtenu:</strong> Master : Expert en Système Informatique</p>
							</div>
						</li>
					</ul>
				</div>
			</section>			
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<Icon icon="javascript" size='3rem'/>
					<Icon icon="typescript" size='3rem'/>
					<Icon icon="angular" size='3rem'/>
					<Icon icon="reactjs" size='3rem'/>
					<Icon icon="nextjs" size='3rem'/>
					<Icon icon="nestjs" size='3rem'/>
					<Icon icon="html" size='3rem'/>
					<Icon icon="css" size='3rem'/>
					<Icon icon="scss" size='3rem'/>
					<Icon icon="python" size='3rem'/>
					<Icon icon="springboot" size='3rem'/>
					<Icon icon="php" size='3rem'/>
					<Icon icon="laravel" size='3rem'/>
					<Icon icon="astro" size='3rem'/>
					<Icon icon="sql" size='3rem'/>
					<Icon icon="stenciljs" size='3rem'/>
					<Icon icon="bootstrap" size='3rem'/>
					<Icon icon="vuejs" size='3rem'/>
					<Icon icon="ionic" size='3rem'/>
					<Icon icon="nodejs" size='3rem'/>
					<Icon icon="markdown" size='3rem'/>
				</div>
			</section>
			<section>
				<h2 class="section-title">CV</h2>
				<div class="content">
					<div class="boxsup">
						<div class="box">
							<a type="button" class="btn-cv" href="#">
								Curiculum Vitae
							</a>
						</div>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Fait aléatoire</h2>
				<div class="content section-skills">
					<div class="right-part">
						<ul class="ul">
							<li><i class="fas fa-utensils"></i> J'aime explorer la gastronomie mondiale en cuisinant(et mangés)</li>
							<li><i class="fas fa-film"></i> Cinéphile sur les bords</li>
							<li><i class="fas fa-desktop"></i> Les cartes graphiques ? C'est mon ADN</li>
							<li><i class="fas fa-car"></i> Les moteurs et l'univers automobile sont ma passion incontestée</li>
							<li><i class="fas fa-laptop"></i> Je suis un fervent explorateur de nouvelles technologies </li>
							<li><i class="fas fa-music"></i> Mon piano, dans l'ombre, résonne en écho</li>
						</ul>
					</div>
					<div class="left-part">
						<img class="img-skills" src="../../public/assets/left-img.png" alt="">
					</div>
				</div>
			</section>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	.timeline {
		list-style: none;
		padding: 0;
	}

	.timeline-content {
		border-left: 4px solid #7611A6;
		padding-left: 20px;
		position: relative;
		margin-bottom: 30px;
	}

	.timeline-content h3 {
		font-size: 18px;
		color: #fff;
		margin-top: 0;
	}

	.timeline-content p {
		margin: 5px 0;
	}

	.timeline-content strong {
		color: #7611A6;
	}

	.boxsup {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.box {
		width: fit-content;
		border: 1px solid #7611A6;
		transition: 0.5s;
		padding: 10px;
		letter-spacing: 0.1em;
		cursor: pointer;
	}
	.box:hover {
		border: 1px solid #fff;
		letter-spacing: 0.2em;
	}
	.box .btn-cv {
		text-decoration: none;
		color: #fff;
	}
	.section-skills {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}
	@media (min-width: 1200px){
		.section-skills {
			flex-direction: row-reverse;
		}
	}
	.left-part {
		display: flex;
		flex: 1;
	}
	@media (min-width: 1200px){
		.left-part {
			display: flex;
			
		}
	}
	.img-skills {
		box-shadow: none;
		border: 0;
		border-radius: 0;
		margin: 0;
		width: 50%;
	}
	@media (min-width: 1200px){
		.img-skills {
			width: 80%;
		}
	}
	.right-part {
		float: right;
	}
    .ul {
        list-style: none;
        padding-left: 0;
    }
    .ul li {
        display: flex;
        align-items: center;
        margin-bottom: 0.8em;
    }
    .ul li i {
        color: #7611A6;
        margin-right: 0.5em;
    }
</style>
