---
import { getCollection } from 'astro:content';

// Layout import
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

// Fetches all projects from the "work" collection and sorts them
const projects = (await getCollection('work')).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
const currentPagePath = new URL(import.meta.url).pathname;
---

<BaseLayout
  title="Mevrel Kilian | My Work"
  description="All my projects"
>
  <div class={`stack ${currentPagePath === '/work' ? 'gap-20' : 'work-page'}`}>
    <main class="wrapper stack gap-8">
      <Hero
        title="My Work"
        tagline="See my most recent projects below to get an idea of my past experience."
        align="start"
      />
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
